<div class="video_footer">
    <div class="video_footer_username">{{username}}</div>
    <div class="video_footer_discription">video footer discription</div>
    <div class="video_footer_audio">
        <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
        <div class="video_footer_audio_name">audio name</div>
        <!-- <mat-icon aria-hidden="false" [class]="'video_footer_slider_icon'" aria-label="Example home icon">
            play_circle_outline
        </mat-icon> -->
        <img class="videoFooter__record" src="https://static.thenounproject.com/png/934821-200.png" alt="" />
    </div>
</div>